{{define "content"}}
    <h1>Login</h1>
    <form action="/login" method="post" name="login">
        <p><input type="text" name="username" value="" placeholder="输入用户名"></p>
        <p><input type="password" name="password" value="" placeholder="输入密码"></p>
        <p><input type="submit" value="登录"></p>
    </form>
    <p>新用户?<a href="/register">点击注册</a></p>
    {{if .Errs}}
        <ul>
            {{ range .Errs}}
                <li>{{.}}</li>
            {{end}}
        </ul>
    {{end}}
{{end}}