{{define "content"}}
    <table>
        <tr valign="top">
            <td><img src="{{.ProfileUser.Avatar}}&s=128"></td>
            <td>
                <h2>用户: {{.ProfileUser.Username}}</h2>
                {{if .ProfileUser.AboutMe}}
                    <p>{{ .ProfileUser.AboutMe }}</p>
                {{end}}

                {{if .ProfileUser.LastSeen}}
                    <p>最后一次操作: {{ .ProfileUser.LastSeen }}</p>
                {{end}}

                <p>{{ .FollowersCount }} 关注者, 关注了 {{ .FollowingCount }} 人.</p>

                {{if .Editable}}
                    <p><a href="/profile_edit">编辑档案</a></p>
                {{else}}
                    {{if .IsFollow}}
                        <p><a href="/unfollow/{{.ProfileUser.Username}}">取消关注</a></p>
                    {{else}}
                        <p><a href="/follow/{{.ProfileUser.Username}}">关注</a></p>
                    {{end}}
                {{end}}

        </tr>
    </table>
    <hr/>
    {{range .Posts}}
        <table>
            <tr valign="top">
                <td><img src="{{.User.Avatar}}&s=36"></td>
                <td>{{ .User.Username }} 说:<br>{{ .Body }}</td>
            </tr>
        </table>
    {{end}}
    {{ if gt .PrevPage 0 }}
        <a href="/user/{{.ProfileUser.Username}}?page={{.PrevPage}}">上一页</a>
    {{ end }}
    {{ if gt .NextPage 0 }}
        <a href="/user/{{.ProfileUser.Username}}?page={{.NextPage}}">下一页</a>
    {{ end }}
{{end}}